{% extends "layout.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Choosing an action</h1>

      {% if actions %}
        <form method="post" novalidate>
          {% set listItems = [] %}
          {% set action = actionId or actions[0].id %}

          {% for action in actions %}
            {% set listItems = listItems.concat([{
              value: action.id,
              text: action.title,
              checked: selectedActions and selectedActions.includes(action.id)
            }]) %}
          {% endfor %}
          
          {% if listItems.length > 0 %}
            {{ govukCheckboxes({
              name: "actions",
              fieldset: {
                legend: {
                  text: "Which actions do you want to apply for?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: "Select all that apply"
              },
              items: listItems
            }) }}
            
            <div class="govuk-button-group">
              <input type="hidden" name="crumb" value="{{ crumb }}">
              {% block form %}
                  {{ govukButton({
                    text: "Continue",
                    preventDoubleClick: true
                  }) }}
              {% endblock %}
            </div>
          {% else %}
            {{ govukWarningText({
              text: "No actions available to select.",
              iconFallbackText: "Warning"
            }) }}
          {% endif %}
        </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}